body{
	background-color:#000;
}

html{
	color: white;
	user-select: none;

}
header{
	position: relative;
	text-align: center;
	height: 35vh;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0px;
	cursor: default;
}

li{
	padding: 5px;
	margin: 5px;
}


#loadhere{
	position: relative;
	height:65vh;
	width:100%;
	text-align: center;
}

.dp{
	position: relative;
	border-radius: 10%;
	height: 30%;
	box-shadow: 0px 0px 10px 2px #666;
}

.aboutme{
	position: relative;
	width: 90%;
	padding:5%;
	text-align:justify;
}


@media only screen and (orientation: landscape) {

header{
	height:8vh;
}
ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding:0.5vh;
	text-align: center;
	cursor: default;
}

li{
	display: block;
	position: relative;
	margin:auto;
	font-size: 2vw;
	transition: background-color 0.3s;
}

li:hover{
	background-color: grey;
}


#loadhere{
	position: relative;
	height:85vh;
	width:100%;
	overflow: hidden;
}

.dp{
	position: relative;
	border-radius: 10%;
	height: 40%;
}

}


.contact{
	width:100%;
	margin-bottom: 2%;
}

.contact a img{
	width:50px;
	height:50px;
	margin:5px;
	transition: width 1s;
	transition: height 1s;
}
.contact a img:hover{
	width:75px;
	height: 75px;
}

.icons{
	display: flex;
	justify-content: center;
}
