@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Press+Start+2P');
body{
	background-color:#000;
	width:90%;
	margin:auto;
	margin-top:2vh;
	font-family: 'Dancing Script', cursive;
}

html{
	color: aliceblue;
	user-select: none;

}
header{
	position: relative;
	text-align: center;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 5px;
	cursor: default;
}

li{
	height:5vh;
	background-color: rgba(230,215,190,0.3);
	padding-top:4vw;
	margin-bottom:1vw;
	margin-right:1vw;
	font-family: 'Ubuntu', sans-serif;
}


#loadhere{
	position: relative;
	height:auto;
	width:100%;
	text-align: center;
	display:flex;
	flex-direction:column;
	color:#eceae6;

}

.container-one{
	order:1;
	position: relative;
	width:90%;
	padding:5%;
	margin-bottom:3vh;
	font-size:larger;
	text-align:justify;
	background-color:rgba(100,100,100,0.2);
	border-radius:1%;
	box-shadow:-1px 1px 10px 1px rgba(100,100,100,0.3);
}

.container-two{
}
.dp{
	margin-bottom:5%;
	position: relative;
	border-radius: 3%;
	width:90%;
	box-shadow: 0px 0px 10px 2px #666;
}

#typehere{
	font-size:xx-large;
	padding-top:0px;
	font-family: 'Press Start 2P', cursive;
}

.icons{
	text-align:-webkit-center;
}
.icon-container img{
	text-align:-webkit-center;
width:50%;
}


@media only screen and (orientation: landscape) {

header{
	height:8vh;
	margin-bottom: 2vh;
}
ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding:0.5vh;
	text-align: center;
	cursor: default;
}

li{
	display: block;
	position: relative;
	width: 20%;
	height:100%;
	margin:auto;
	padding-top:2vh;
	font-size: 2vw;
	transition: background-color 0.3s;
}
li:hover{
	background-color: #111;
}


#loadhere{
	position: relative;
	height: auto;
	overflow: hidden;
	display:flex;
	flex-direction:row;
}


.container-one{
	margin:3vw;
	border-radius:3%;
	box-shadow: 0px 0px 10px 1px;
	font-size:2vw;
}
.container-one-small{
	float:left;
	width:45%;
}

.container-two{
	margin:3vw;
	order:1;
}
.container-two-small{
	margin:0px;
	padding:0px;
	position:relative;
	width:45%;
}
.dp{
	position: relative;
	border-radius: 50%;
	height: 75%;
	margin:10%;
}
.container-two-small img{
	border-radius:2%;
	width:40%;
}

#typehere{
	width:100%;
	padding:20vh;
	font-size:4vw;
}

.icons{
	text-align:-webkit-center;
}
.icon-container img{
	text-align:-webkit-center;
width:50%;
}


}

@media only screen and (min-width:950px) {
	.container-one{
	padding:3%;
}
#typehere{
	padding-top:8vh;
}
}
